body {
    background-image: url("images/fondo.jpg");    
    background-color: #cccccc;
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 10px;
    padding-bottom: 10px;
}
#container {
    height: 750px;
    width: 1000px;
    background: #ffffff;
}
.banner {
    background-image: url("images/BannerAgua01.jpg");
    background-color: appworkspace;
    height:80px;
}

.layoutNoBorder{
   background-color:#ffffff;  
   border: none;
   padding: 0px;
}

.myLayoutStyleClass .ui-layout-unit-content{
   background: transparent;
   border: none;
   padding: 0px;
}
