body {
    background-image: url("images/fondo.jpg");    
    background-color: #cccccc;
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 10px;
    padding-bottom: 10px;
}
#container {
    height: 750px;
    width: 1000px;
    background: #ffffff;
}
.banner {
    background-image: url("images/BannerAgua01.jpg");
    background-color: appworkspace;
    border: none;
    height:80px;
}

.layoutNoBorder{
   background-color:#ffffff;  
   border: none;
   padding: 0px;
}

.myLayoutStyleClass .ui-layout-unit-content{
   background: transparent;
   border: none;
   padding: 0px;
}
.myButtonCuenta {
        display: block;
        width: 200px !important;
        height: 241px !important;
        background-image: url("images/cliente2.jpg")  !important;
    }
.myButtonCuenta:hover {
    display: block;
    width: 200px !important;
    height: 241px !important;
    background-image: url("images/cliente1.jpg")  !important;
}
.myButtonavisoCobro {
        display: block;
        width: 200px !important;
        height: 241px !important;
        background-image: url("images/cuenta2.jpg")  !important;
    }
.myButtonavisoCobro:hover {
    display: block;
    width: 200px !important;
    height: 241px !important;
    background-image: url("images/cuenta1.jpg")  !important;
}
.myButtonBoleta {
        display: block;
        width: 200px !important;
        height: 241px !important;
        background-image: url("images/cobros2.jpg")  !important;
    }
.myButtonBoleta:hover {
    display: block;
    width: 200px !important;
    height: 241px !important;
    background-image: url("images/cobros1.jpg")  !important;
}
.myButtonregistroEstado {
        display: block;
        width: 200px !important;
        height: 241px !important;
        background-image: url("images/subsidio2.jpg")  !important;
    }
.myButtonregistroEstado:hover {
        display: block;
        width: 200px !important;
        height: 241px !important;
        background-image: url("images/subsidio.jpg")  !important;
    }
.myButtonConfiguracion {
        display: block;
        width: 200px !important;
        height: 241px !important;
        background-image: url("images/configurar2.jpg")  !important;
    }
.myButtonConfiguracion:hover {
        display: block;
        width: 200px !important;
        height: 241px !important;
        background-image: url("images/configurar1.jpg")  !important;
    }
.myButtonReportes {
        display: block;
        width: 200px !important;
        height: 241px !important;
        background-image: url("images/reportes2.jpg")  !important;
    }
.myButtonReportes:hover {
        display: block;
        width: 200px !important;
        height: 241px !important;
        background-image: url("images/reportes.jpg")  !important;
    }
   
 .logoInterior {
        display: block;
        width: 308px !important;
        height: 143px !important;
        background-image: url("images/marcanueva.png") !important;
    }

    #marco{
        background-color: white;
        padding-left: 120px;
    }
    #logo{
        text-align: left;
        background-color: #fff;
    }
